:root {
  /* Design Colour Palette */
  --primary: #f0ebe3;
  --secondary: #7d9d9c;
  --accent-one: white;
  --accent-two: #73a9ad;
  --text: black;

  /* Conservation status colour scheme*/
  --not-threatened: #02a028;
  --naturally-uncommon: #649a31;
  --relict: #99cb68;
  --recovering: #fecc33;
  --declining: #fe9a01;
  --nationally-increasing: #c26967;
  --nationally-vulnerable: #9b0000;
  --nationally-endangered: #660032;
  --nationally-critical: #320033;
  --extinct: black;
  --data-deficient: black;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}


html,
body {
  background-color: var(--primary);
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

header {
  background-color: var(--secondary);
  text-align: center;
  box-shadow: 1px -1em 4em #333;
}

header h1 {
  padding: 0.5em;
}

main {
  display: flex;
  flex: auto;
}

footer {
  background-color: var(--secondary);
  text-align: center;
  margin-top: 4em;
}


@keyframes bubble {
from {width: 10%; }
to {width: 70%;}
}
.animate {
  animation-name: bubble;
  animation-duration: 0.3s;
}

#search-area {
  position: fixed;
  width: 70%;
  z-index: 100;
  background-color: white;
  border-radius: 30px;
  border-bottom-left-radius: 5px;
  padding-top: 4em;
  box-shadow: 0 0 1em #333;
  bottom: 2.7em;
  left: 2.6em;
  overflow: hidden;

}

#search-button {
  background-color: white;
  position: fixed;
  border-top-right-radius: 10px;
  bottom: 0px;
  width: 3em;
  height: 3em;
  z-index: 100;
  text-align: center;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  overflow: hidden;
  box-shadow: 0 0 1em #333;
}

.material-symbols-outlined.md-48{
  font-size: 48px;
}

.hide {
  display: none;
}

fieldset {
  margin-left: 25%;
  margin-bottom: 2em;
  align-items: center;
  border:none;
}

fieldset > * {
  display: block
  
}

fieldset > legend {
  font-size: large;
  margin-bottom: 1em;
}

fieldset > label {
  margin-bottom: 0.5em;
}

.search-fields{
  height: 2em;
  width: 13em;
 
}




@media only screen and (min-width: 811px) {
  #search-area {
    all: unset;
    display: block;
    width: 10%;
    margin-top: 10em;
    padding-right: 5em;

  }

  #search-button {
    display: none;
  }




}

#grid {
  display: grid;
  flex-grow: 1;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-template-rows: auto;
  padding-top: 4em;
  place-items: center;
 
}

.bird-card {
  background-color: var(--accent-one);
  width: 20rem;
  height: 30rem;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: 0.2;
  box-shadow: 0 0 1em #333;
}

.bird-card:hover {
  transform: translateY(-1rem);
}

.bird-image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
  position: relative;
}

.danger-indicator {
  background-color: var(--nationally-vulnerable);
  width: 3em;
  height: 3em;
  position: absolute;
  top: 12rem;
  right: 1em;
  border-radius: 50%;
}

.bird-title {
  position: absolute;
  top: 10em;
  margin-left: 1em;
  color: white;
}

.credit {
  font-size: small;
}

.english-name {
  text-align: center;
  padding-top: 1em;

  font-weight: 700;
}


dl {
  list-style: none;
  padding-top: 1em;
  padding-right: 3em;
  padding-left: 3em;
  margin: 0 auto;
}
dd {
  float: right;
  clear: right;
}

dt {
  text-align: right;
  font-weight: bold;
  clear: left;
  float: left;
}

dt,
dd {
  font-size: small;
  margin-bottom: 1em;
}



