:root {
  /* Design Colour Palette */
  --primary: #white;
  --secondary: #CDF0EA;
  --accent-one: #2C3333;
  --accent-two: #2C3333;
  --text: black;

  /* Conservation status colour scheme*/
  --not-threatened: #02a028;
  --naturally-uncommon: #649a31;
  --relict: #99cb68;
  --recovering: #fecc33;
  --declining: #fe9a01;
  --nationally-increasing: #c26967;
  --nationally-vulnerable: #9b0000;
  --nationally-endangered: #660032;
  --nationally-critical: #320033;
  --extinct: black;
  --data-deficient: black;
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

html,
body {
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  cursor: url('kiwi.png'), auto;	
  overflow: hidden;
}

.cursorOveride{
  cursor: url('lazer.png'), auto !important;
}

body {
  min-height: 100vh;
}

header {
  background-color: var(--secondary);
  color: rgb(0, 0, 0);
  font-size: 1.4em;
  font-weight: 700;
  height: 5em;
  text-align: center;
  box-shadow: 1px -1em 4em #333;
}

header h1 {
  padding: 0.5em;
}

main {
  display: flex;
  flex: auto;
  height: 0;
}

footer {
  background-color: var(--secondary);
  text-align: center;
}

@keyframes bubble {
  from {
    width: 10%;
    height: 30px;
    overflow: hidden;
  }
  to {
    width: 70%;
    height: 39em;
    overflow: hidden;
  }
}

.hide {
  display: none;
}

.hideImportant {
  display: none !important;
}

.animate {
  animation-name: bubble;
  animation-duration: 0.3s;
}

#search-area {
  position: fixed;
  height: 39em;
  width: 70%;
  z-index: 100;
  background-color: white;
  border-radius: 30px;
  border-bottom-left-radius: 5px;
  padding-top: 4em;
  box-shadow: 0 0 1em #333;
  bottom: 2.7em;
  left: 2.6em;
  
}

#search-button {
  background-color: white;
  position: fixed;
  border-top-right-radius: 10px;
  bottom: 0px;
  width: 3em;
  height: 3em;
  z-index: 100;
  text-align: center;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  overflow: hidden;
  box-shadow: 0 0 1em #333;
}

.filter-container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

form {
  width: 100%;
}
.material-symbols-outlined.md-48 {
  font-size: 48px;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: none;
  margin-bottom: 2em;
}

fieldset > legend {
  font-size: large;
  margin-bottom: 1em;
}

fieldset > input {
  margin-bottom: 0.3em;
}

fieldset > select {
  margin-bottom: 0.3em;
}
fieldset > label {
  margin-bottom: 0.5em;
}

#filter-button {
  margin-top: 1em;
}

.search-fields {
  height: 2em;
  width: 13em;
}

#grid {
  display: grid;
  flex-grow: 1;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-template-rows: auto;
  padding-top: 4em;
  place-items: center;
  width: 100%;
  overflow-y: scroll;
  background-color: rgb(250, 248, 247);
  padding-bottom: 2em;
}

.bird-card {
  background-color: white;
  width: 20rem;
  height: 30rem;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: 0.2;
  box-shadow: 0 0  0.9em 0.1em rgb(201, 199, 199);
}

.bird-card:hover {
  transform: translateY(-0.5em);
}

.bird-image {
  display: block;
  width: 100%;
  height: 220px;
  object-fit: cover;
  position: relative;
}

.gradient {
  position: absolute;
  object-fit: cover;
  z-index: 1;
  width: 100%;
  height: 220px;
  top: 0;

  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 50%
  );
}

.bird-title {
  position: absolute;
  top: 10em;
  margin-left: 1em;
  color: white;
  z-index: 2;
}

.credit {
  font-size: small;
}

.english-name {
  text-align: center;
  padding-top: 1em;

  font-weight: 700;
}

.bird-details-container {
  width: 100%;
 
}

dl {
  list-style: none;
  display: grid;
  grid-template-columns: max-content auto;
  gap: 1em;
  padding-top: 1em;
  padding-left: 2em;
  padding-right: 1em;
  padding-bottom: 1em;
}

dd {
  display: inline-block;
}

dt {
  display: inline;
  text-align: left;
  font-weight: bold;
}

dt,
dd {
  font-size: small;
}

.danger-indicator {
  background-color: white;
  width: 3em;
  height: 3em;
  position: absolute;
  top: 12rem;
  right: 1em;
  border-radius: 50%;
  border: 2px solid white;
  z-index: 3;
}

.Threatened {
  background-color: var(--not-threatened);
  color: var(--not-threatened);
}

.Uncommon {
  background-color: var(--naturally-uncommon);
  color: var(--naturally-uncommon);
}

.Relict {
  background-color: var(--relict);
  color: var(--relict);
}

.Recovering {
  background-color: var(--recovering);
  color: var(--recovering);
}

.Declining {
  background-color: var(--declining);
  color: var(--declining);
}

.Increasing {
  background-color: var(--nationally-increasing);
  color: var(--nationally-increasing);
}

.Vulnerable {
  background-color: var(--nationally-vulnerable);
  color: var(--nationally-vulnerable);
}

.Endangered {
  background-color: var(--nationally-endangered);
  color: var(--nationally-endangered);
}

.Critical {
  background-color: var(--nationally-critical);
  color: var(--nationally-critical);
}

.Extinct {
  background-color: var(--extinct);
  color: var(--extinct);
}

.Deficient {
  background-color: var(--data-deficient);
}

.statusLegendContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1em;
  padding-bottom: 1em;
  font-size: min(1em, 3.3vw);
}

.list-status-colour {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
}

ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: max-content auto;
  gap: 0.1em 0.3em;
}

li {
  padding-bottom: 0.3em;
}

footer > p {
  padding-left: 3em;
  padding-right: 3em;
}



@media only screen and (min-width: 811px) {
  #search-area {
    all: unset;
    display: block;
    width: 10em;
    padding-top: 4em;
    padding-right: 5em;
    padding-left: 2em;
    background-color: white;
  }

  #search-button {
    display: none;
  }

  .statusLegendContainer {
    all: unset;
    display: block;
    width: 20em;
  }

  ul {
    all: unset;
    list-style-type: none;
  }
}
